<div class="container" *ngIf="productForm">
  {{productForm.value|json}}
  <form [formGroup]="productForm" (ngSubmit)="onEditProduct()">
    <div class="form-group">
      <label for="name"> name</label>
      <input type="text" class="form-control" formControlName="name" id="name" >
    </div>
    <div class="form-group">
      <label for="price">current Price</label>
      <input type="text" class="form-control" formControlName="currentPrice" id="price" >
    </div>
    <div class="form-group">
      <label for="qte">quantity</label>
      <input type="text" class="form-control" formControlName ="quantity" id="qte" >
    </div>
    <div class="form-group">

      <input type="checkbox"  formControlName ="selected" >
      <label >selected</label>
    </div>
    <div class="form-group">

      <input type="checkbox"  formControlName ="available" >
      <label >available</label>
    </div>
    <button type="submit" class="btn btn-success"   >save</button>

  </form>
</div>

