<div class="container" *ngIf="productForm">
  {{productForm.value|json}}
  <form [formGroup]="productForm" (ngSubmit)="onSaveProduct()">
    <div class="form-group">
      <label for="name"> name</label>
      <input type="text" class="form-control" formControlName="name" id="name"  [ngClass]="{'is-invalid':productForm.invalid&&submitted}">
<span  *ngIf="productForm.invalid" class="invalid-feedback">is requared</span>
    </div>
    <div class="form-group">
      <label for="price">current Price</label>
      <input type="text" class="form-control" formControlName="currentPrice" id="price" >
    </div>
    <div class="form-group">
      <label for="qte">quantity </label>
      <input type="text" class="form-control" formControlName ="quantity" id="qte" >
    </div>
    <div class="form-group">

      <input type="checkbox"  formControlName ="selected" >
      <label >selecte</label>
    </div>
    <div class="form-group">

      <input type="checkbox"  formControlName ="available" >
      <label >available</label>
    </div>
    <button type="submit" class="btn btn-success"   >save</button>

  </form>
</div>
